.container {
  background-color: #A8A19B;
}

.navigation {
  background-color: pink;
}

.navigation li {
  display: inline;
  margin-right: 10px;

}

.column1 {
  float: left;
  width: 66%;
  background-color: #9ACC99;
  padding: 10px;
}

.column2 {
  float: left;
  width: 33%;
  background-color: #9999CD;
  padding: 10px;
}
